



body{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	line-height: 1.5;
    color: blue;
    position: absolute;
}

h1{
    padding: 0.5rem;
}

ul {
  list-style: none;
    margin-top: 2.5rem;
}

li {
  float:left;
  margin-top:2.5%;
    text-align: center;
    
}
img{
  max-width:90%;
  transition: transform 0.5s ease-in-out;
    border: 2px solid;
}

img:hover{
    
    transform: scale(1.2);
    z-index: 20;
}

@media screen and (min-width:600px) {
    
    li{
        width: 50%;
    }
    
    img:hover{
        transform: rotate(360deg); 
    }   
}
@media screen and (min-width:1200px) {
    
    li{
        width: 25%;
    }
    img:hover{
        transform: translate(50px,100px);
    }

}
